---

- name: Create {{ etcd_user }} system group
  ansible.builtin.group:
    name: "{{ etcd_group }}"
    state: present
    system: yes

- name: Create {{ etcd_group }} system user
  ansible.builtin.user:
    name: "{{ etcd_user }}"
    groups: "{{ etcd_group }}"
    append: yes
    shell: /sbin/nologin
    state: present
    system: yes

- name: Prepare directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    owner: "{{ etcd_user }}"
    group: "{{ etcd_group }}"
    mode: 0750
  loop:
    - "{{ etcd_conf_dir }}"
    - "{{ etcd_data_dir }}"

- name: Copy certificate files from remote folder to etcd dir on the same host
  ansible.builtin.copy:
    src: "{{ item }}"
    remote_src: yes
    dest: "{{ etcd_conf_dir }}/{{ item | basename }}"
    owner: "{{ etcd_user }}"
    group: "{{ etcd_group }}"
    mode: 0400
  loop: "{{ etcd_remote_cert_files }}"
  when: etcd_remote_cert_files != []

- name: Copy configuration
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: '{{ etcd_conf_dir }}/{{ item }}'
    owner: '{{ etcd_user }}'
    group: '{{ etcd_group }}'
    mode: 0644
  loop:
    - etcd.conf.yaml
  notify: restart etcd service

- name: Copy systemd template
  ansible.builtin.template:
    src: etcd.service.j2
    dest: /etc/systemd/system/etcd.service
    owner: root
    group: root
    mode: 0644
  notify: restart etcd service

