---

- name: Create system group {{ etcd_user }}
  ansible.builtin.group:
    name: "{{ etcd_group }}"
    state: present
    system: yes

- name: Create system user {{ etcd_group }}
  ansible.builtin.user:
    name: "{{ etcd_user }}"
    groups: "{{ etcd_group }}"
    append: yes
    shell: /sbin/nologin
    state: present
    system: yes

- name: Create directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    owner: "{{ etcd_user }}"
    group: "{{ etcd_group }}"
    mode: 0750
  loop:
    - "{{ etcd_conf_dir }}"
    - "{{ etcd_data_dir }}"

- name: Copy certificate files from remote folder on the same host to dir {{ etcd_conf_dir }}
  ansible.builtin.copy:
    src: "{{ item }}"
    remote_src: yes
    dest: "{{ etcd_conf_dir }}/{{ item | basename }}"
    owner: "{{ etcd_user }}"
    group: "{{ etcd_group }}"
    mode: 0400
  loop: "{{ etcd_remote_cert_files }}"
  when: etcd_remote_cert_files != []

- name: Copy systemd unit template
  ansible.builtin.template:
    src: etcd.service.j2
    dest: /etc/systemd/system/etcd.service
    owner: root
    group: root
    mode: 0644
  notify: Restart etcd service
