# {{ ansible_managed }}
[Unit]
Description=etcd service
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
User={{ etcd_user }}
Group={{ etcd_group }}
Type=notify
ExecStart={{ etcd_bin_path }} \
## Member flags
  --name='{{ etcd_node_name }}' \
  --data-dir='{{ etcd_data_dir }}' \
  --wal-dir='{{ etcd_wal_dir }}' \
  --snapshot-count='{{ etcd_snapshot_count }}' \
  --heartbeat-interval='{{ etcd_heartbeat_interval }}' \
  --election-timeout='{{  etcd_election_timeout}}'  \
  --initial-election-tick-advance='{{ etcd_initial_election_tick_advance }}' \
  --listen-peer-urls='{{  etcd_listen_peer_urls }}' \
  --listen-client-urls='{{ etcd_listen_client_urls }}' \
  --max-snapshots='{{ etcd_max_snapshots }}' \
  --max-wals='{{ etcd_max_wals }}' \
  --quota-backend-bytes='{{ etcd_quota_backend_bytes }}' \
  --backend-bbolt-freelist-type='{{ etcd_backend_bbolt_freelist_type }}' \
  --backend-batch-interval='{{ etcd_backend_batch_interval }}' \
  --backend-batch-limit='{{ etcd_backend_batch_limit }}' \
  --max-txn-ops='{{ etcd_max_txn_ops }}' \
  --max-request-bytes='{{ etcd_max_request_bytes }}' \
  --grpc-keepalive-min-time='{{ etcd_grpc_keepalive_min_time }}' \
  --grpc-keepalive-interval='{{ etcd_grpc_keepalive_interval }}' \
  --grpc-keepalive-timeout='{{ etcd_grpc_keepalive_timeout }}' \
  --socket-reuse-port='{{ etcd_socket_reuse_port }}' \
  --socket-reuse-address='{{ etcd_socket_reuse_address }}' \
## Clustering flags
  --initial-advertise-peer-urls='{{ etcd_initial_advertise_peer_urls }}' \
  --initial-cluster='{{ etcd_initial_cluster }}' \
  --initial-cluster-state='{{ etcd_initial_cluster_state }}' \
  --initial-cluster-token='{{ etcd_initial_cluster_token }}' \
  --advertise-client-urls='{{ etcd_advertise_client_urls }}' \
  --discovery='{{ etcd_discovery }}' \
  --discovery-fallback='{{ etcd_discovery_fallback }}' \
  --discovery-proxy='{{ etcd_discovery_proxy }}' \
  --discovery-srv='{{ etcd_discovery_srv }}' \
  --discovery-srv-name='{{ etcd_discovery_srv_name }}' \
  --strict-reconfig-check='{{ etcd_strict_reconfig_check }}' \
  --pre-vote='{{ etcd_pre_vote }}' \
  --auto-compaction-retention='{{ etcd_auto_compaction_retention}}' \
  --auto-compaction-mode='{{ etcd_auto_compaction_mode }}' \
  --enable-v2='{{ etcd_enable_v2 }}' \
  --v2-deprecation='{{ etcd_v2_deprecation }}' \
## Security flags
  # Path to the client server TLS cert file.
  --cert-file='{{ etcd_cert_file }}' \
  # Path to the client server TLS key file.
  --key-file='{{ etcd_key_file }}' \
  # Enable client cert authentication. CN authentication is snot supported bt gRPC-gateway.
  --client-cert-auth='{{ etcd_client_cert_auth }}' \
  # path to the client certificate revocation list file.
  --client-crl-file='{{ etcd_client_crl_file }}' \
  # Allowed TLS name for client cert authentication.
  --client-cert-allowed-hostname='{{ etcd_client_cert_allowed_hostname }}' \
  # Path to the client server TLS trusted CA cert file.
  --trusted-ca-file='{{ etcd_trusted_ca_file }}' \
  # Client TLS using generated certificates
  --auto-tls='{{ etcd_auto_tls }}' \
  #  Path to the peer server TLS cert file.
  --peer-cert-file='{{ etcd_peer_cert_file }}' \
  # Path to the peer server TLS cert file. This is the cert for peer-to-peer traffic, used both for server and client.
  --peer-key-file='{{ etcd_peer_key_file }}' \
  # Enable peer client cert authentication.
  --peer-client-cert-auth='{{ etcd_peer_client_cert_auth }}' \
  # Path to the peer server TLS trusted CA file.
  --peer-trusted-ca-file='{{ etcd_peer_trusted_ca_file }}' \
  # Allowed CommonName for inter peer authentication.
  --peer-cert-allowed-cn='{{ etcd_peer_cert_allowed_cn }}' \
  # Allowed TLS certificate name for inter peer authentication.
  --peer-cert-allowed-hostname='{{ etcd_peer_cert_allowed_hostname }}' \
  # Peer TLS using generated certificates
  --peer-auto-tls='{{ etcd_peer_auto_tls }}' \
  # The validity period of the client and peer certificates that are automatically
  # generated by etcd when you specify ClientAutoTLS and PeerAutoTLS, the unit is year, and the default is 1.
  --self-signed-cert-validity='{{ etcd_self_signed_cert_validity }}' \
  # Path to the peer certificate revocation list file.
  --peer-crl-file='{{ etcd_peer_crl_file }}' \
  # Comma-separated list of supported TLS cipher suites between server/client and peers.
  --cipher-suites={{ etcd_cipher_suites }} \
  # Comma-separated whitelist of origins for CORS, or cross-origin resource sharing, (empty or * means allow all).
  --cors={{ etcd_cors }} \
  # Acceptable hostnames from HTTP client requests, if server is not secure (empty or * means allow all).
  --host-whitelist={{ etcd_host_whitelist }} \
## Auth flags
  --auth-token='{{ etcd_auth_token }}' \
  --bcrypt-cost='{{ etcd_bcrypt_cost }}' \
  --auth-token-ttl='{{ etcd_auth_token_ttl }}' \
## Profiling and monitoring flags
  --enable-pprof='{{ etcd_enable_pprof }}' \
  --metrics='{{ etcd_metrics }}' \
  --listen-metrics-urls='{{ etcd_listen_metrics_urls }}' \
## Logging flags
  --logger='{{ etcd_logger }}' \
  --log-outputs='{{ etcd_log_outputs }}' \
  --log-level='{{ etcd_log_level }}' \
  --enable-log-rotation='{{ etcd_enable_log_rotation }}' \
  --log-rotation-config-json='{{ etcd_log_rotation_config_json }}' \
## Experimental distributed flags
  --experimental-enable-distributed-tracing='{{ etcd_experimental_enable_distributed_tracing }}' \
  --experimental-distributed-tracing-address='{{ etcd_experimental_distributed_tracing_address }}' \
  --experimental-distributed-tracing-service-name='{{ etcd_experimental_distributed_tracing_service_name }}' \
  --experimental-distributed-tracing-instance-id='{{ etcd_experimental_distributed_tracing_instance_id }}' \
## Proxy flags
  --proxy='{{ etcd_proxy }}' \
  --proxy-failure-wait='{{ etcd_proxy_failure_wait }}' \
  --proxy-refresh-interval='{{ etcd_proxy_refresh_interval }}' \
  --proxy-dial-timeout='{{ etcd_proxy_dial_timeout }}' \
  --proxy-write-timeout='{{ etcd_proxy_write_timeout }}' \
  --proxy-read-timeout='{{ etcd_proxy_read_timeout }}' \
## Experimental features
  --experimental-initial-corrupt-check='{{ etcd_experimental_initial_corrupt_check }}' \
  --experimental-corrupt-check-time='{{ etcd_experimental_corrupt_check_time }}' \
  --experimental-enable-v2v3='{{ etcd_experimental_enable_v2v3 }}' \
  --experimental-enable-lease-checkpoint='{{ etcd_experimental_enable_lease_checkpoint }}' \
  --experimental-compaction-batch-limit='{{ etcd_experimental_compaction_batch_limit }}' \
  --experimental-peer-skip-client-san-verification='{{ etcd_experimental_peer_skip_client_san_verification }}' \
  --experimental-watch-progress-notify-interval='{{ etcd_experimental_watch_progress_notify_interval }}' \
  --experimental-warning-apply-duration='{{ etcd_experimental_warning_apply_duration }}' \
  --experimental-txn-mode-write-with-shared-buffer='{{ etcd_experimental_txn_mode_write_with_shared_buffer }}' \
## Unsafe features flags
  --force-new-cluster='{{ etcd_force_new_cluster }}' \
  --unsafe-no-fsync='{{ etcd_unsafe_no_fsync }}'
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target